.attention {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.attention__text {
    margin: 4.5rem auto;
    max-width: 70rem;
    font-size: 2.4rem;
    font-weight: 500;
}

.attention__link {
    padding: 2.2rem 7.7rem;
    border: 1px solid $white;
    border-radius: 20px;
    color: $white;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .3s linear, color .3s linear;

    &:hover {
        color: $black;
        background-color: $white;
    }
}
