.events__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;

    @include breakpoint($tablet-bp) {
        grid-template-columns: repeat(2, auto);
    }

    @include breakpoint($mobile-bp) {
        grid-template-columns: 1fr;
        grid-gap: 15rem;
    }
}
