.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback__text {
    margin-bottom: 4rem;
}

.feedback__input {
    padding: 3rem 0;

    font-size: 2rem;
    color: $white;
    border-radius: 30px;
    border: 1px solid $white;
    background-color: transparent;

    &--text {
        margin-bottom: 6rem;
        padding: 1rem 3rem;
        width: 70%;
        height: 30rem;

        overflow: hidden;
        resize: none;
    }

    &--submit {
        padding: 3rem 7rem;
        color: $black;
        font-weight: 700;
        background-color: $white;

        &:hover {
            cursor: pointer;
            background-color: rgba($white, .7);
        }
    }
}
