.reservation__list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr 1fr;

    max-width: 110rem;
}

.reservation__list-item {
    input {
        padding: 3rem 2rem;
        width: 100%;
        height: auto;

        font-size: 2rem;
        font-weight: 500;
        color: rgba($white, .4);
        background-color: transparent;
        border: 1px $white solid;
        border-radius: 30px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        background-image: url(../img/reservation/date.svg);
        background-repeat: no-repeat;
        opacity: .4;
    }

    &:last-child {
        input {
            color: $black;
            font-weight: 700;
            background-color: $white;

            &:hover {
                cursor: pointer;
                background-color: rgba($white, .7);
            }
        }
    }
}
