.room__info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.room__text {
    margin-top: 6rem;
    max-width: 66.6rem;
    font-size: 2.2rem;
    font-weight: 400;
}

.room__slider {
    padding-top: 7rem;
    width: 100%;
    height: auto;
}

.room__slide-item {
    text-align: center;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.moreinfo {
    display: flex;
}

.moreinfo__photo {
    width: 50% !important;
    height: auto;
}

.moreinfo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.moreinfo__text {
    margin-bottom: 3rem;
    font-size: 2.4rem;
}

.moreinfo__link {
    padding: 3rem 7rem;
    font-size: 2rem;
    color: $black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
    background-color: $white;

    &:hover {
        cursor: pointer;
        background-color: rgba($white, .9);
    }
}
