.section {

    &--full,
    &--menu,
    &--feedback,
    &--cube {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 100vh;

        position: relative;
    }

    &--reservation {
        margin-top: 33rem;
    }

    &--agreement {
        padding: 5rem 0;
    }

    &--events {
        padding: 12rem 0 0;
        text-align: center;
    }
}

.section__title {
    font-size: 12.8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Bebas';

    @include breakpoint($tablet-bp) {
        font-size: 7rem;
    }

    z-index: 2;
    &--intro {
        font-size: 30rem;
    }

    &--about {
        display: flex;
        margin: 0 auto 9rem;
        position: relative;

        &:before,
        &:after {
            content: "";
            width: 5rem;
            height: 5rem;

            background-size: 4rem 4rem;
            background-image: url(../img/star.svg);
            background-position: center;
            background-repeat: no-repeat;

            position: absolute;
            top: 50%;
            z-index: 1;
        }

        &:before {
            transform: translateX(-200%) translateY(-50%);
            left: 0;
        }

        &:after {
            transform: translateX(200%) translateY(-50%);
            right: 0;
        }
    }

    &--reservation {
        margin-bottom: 15rem;

        @include breakpoint($tablet-bp) {
            margin-bottom: 10rem;
        }
    }

    &--location {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    &--menu {
        margin-bottom: 22rem;
        width: 100%;
        text-align: center;
    }

    &--attention {
        @include breakpoint($tablet-bp) {
            font-size: 9rem;
        }
    }

    &--events,
    &--feedback {
        margin-bottom: 8rem;
        text-align: center;
    }

    /* Glow effects */

    &--events,
    &--feedback,
    &--menu,
    &--reservation,
    &--location,
    &--room,
    &--intro {
        display: inline-block;
        position: relative;
        &:after {
            opacity: .5;
            content: "";
            width: 100%;
            height: 400%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% auto;

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(-40%);
        }
    }

    &--intro {
        &:after {
            background-image: url(../img/glow/green2.png);
        }
    }

    &--room {
        &:after {
            background-image: url(../img/glow/yellow.png);
        }
    }

    &--location {
        &:after {
            background-image: url(../img/glow/purple.png);
        }
    }

    &--reservation {
        &:after {
            background-image: url(../img/glow/green.png);
        }
    }
}
