@import "vendor/reset";
@import "vars";
@import "mixins";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Montserrat, sans-serif;
    color: $white;
    background-color: $black;
}

@import "blocks/header";
@import "blocks/container";
@import "blocks/section";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/reservation";
@import "blocks/footer";
