@import "vendor/reset";
@import "vars";
@import "mixins";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Montserrat, sans-serif;
    color: $white;
    background-color: $black;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

@import "blocks/header";
@import "blocks/container";
@import "blocks/section";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/room";
@import "blocks/marquee";
@import "blocks/location";
@import "blocks/reservation";
@import "blocks/agreement";
@import "blocks/attention";
@import "blocks/menu";
@import "blocks/events";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/animation";
